<div>
  <h2> Edit this event </h2>
    <%= form_for @event do |form| %>
    <%= form.text_field :title %>
    <%= form.text_field :description %>
    <%= form.text_field :price %>
    <%= form.submit %>
    <% end %>
</div>
