<body bgcolor="#000000" background="/bg_stars.gif" text="#ff0000" link="#ff4c4c" vlink="#ff4c4c" alink="#ff4c4c">
  <center>
    <%= form_for @event do |f| %>
    <table border="1" width="900" cellpadding="30" bgcolor="000000">
      <tr>
        <td colspan="2">
          <marquee><h2>ADD AN EVENT</h2></marquee>
        </td>
      </tr>
      <tr>
        <td><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td><%= f.text_area :description, rows: 5, cols: 40 %></td>
      </tr>
      <tr>
        <td><%= f.label :price %></td>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <td><%= f.label :topic %></td>
        <td><%= f.collection_select :topic_id, Topic.all, :id, :name %></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><%= f.submit %></td>
      </tr>
    </table>
  <% end %>
  </center>
</body>
