<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Event Jam</title>
    <style type="text/css">
      .footer-links {
        margin: 5px;
      }
    </style>
  </head>
  <body bgcolor="#000000" background="/bg_stars.gif" text="#ff0000" link="#ff4c4c" vlink="#ff4c4c" alink="#ff4c4c">
    <%= yield %>
  </body>
</html>
